body {
  background: hsl(212, 45%, 89%);
}
.attribution {
  margin: -340px auto;
}
#main-container {
  border: 0px solid black;
  width: 280px;
  height: auto;
  margin: 350px auto;
  padding: 14px;
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
}
.header-image img {
  width: 100%;
  border-radius: 10px;
}
.content .heading {
  text-align: center;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.content .paragraph {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 13px;
  font-weight: 400;

  color: hsl(220, 15%, 55%);
}
